In [2]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [3]:
#Function to convert columns REQTIME, USEDTIME to Seconds


def TimeToSeconds(inputTime):
    #Initialize variables
    day = 0
    time=""
    hh=0
    mm=0
    ss=0
    timeTotal=0

    if inputTime.find("-") > -1:
        timeTotal = inputTime.split("-", 1)
        if len(timeTotal) > 1 :
            day = int(timeTotal[0])
            time=timeTotal[1]            
    else :    
        time=inputTime

    timePart=time.split(":")    
    if len(timePart) > 2 :        
        hh = int(timePart[0])
        mm = int(timePart[1])
        ss = int(timePart[2])
    #print("Days:"+ str(day) + " hh:" + str(hh) + " mm:" + str(mm) + " ss:" + str(ss))
    delta = timedelta(days=day, hours=hh, minutes=mm, seconds=ss)
    #print(delta.seconds)
    return int(delta.total_seconds())


#To Test - Uncomment below lines
#secs = TimeToSeconds("1-01:01:05")
#print(secs)

In [4]:
gpu_df = pd.read_csv('accre-gpu-jobs-2022-v2.csv', error_bad_lines=False)

C:\Users\kalea\AppData\Local\Temp\ipykernel_37092\3142387627.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  gpu_df = pd.read_csv('accre-gpu-jobs-2022-v2.csv', error_bad_lines=False)
b'Skipping line 124084: expected 12 fields, saw 13\nSkipping line 124809: expected 12 fields, saw 13\n'

In [5]:
gpu_df = gpu_df.replace({'USEDMEM': r'[M]+'}, {'USEDMEM': ''}, regex=True)
#Convert time to seconds
gpu_df["REQTIME_SEC"] = gpu_df['REQTIME'].apply(TimeToSeconds) 
gpu_df["USEDTIME_SEC"] = gpu_df['USEDTIME'].apply(TimeToSeconds) 
gpu_df

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE,REQTIME_SEC,USEDTIME_SEC
0,32880657,malanga,arline,18.66,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED,172800,793
1,32880701,glasshouse,brady,0,05:00:00,00:00:22,1,3,1,maxwell,0:0,COMPLETED,18000,22
2,32880718,glasshouse,brady,402.32,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED,18000,537
3,32880719,glasshouse,brady,417.62,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED,72000,18586
4,32880720,glasshouse,brady,450.09,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED,54000,15070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336945,46754520_26,harovin,porsha,0,5-00:00:00,00:07:07,1,6,1,turing,0:0,RUNNING,432000,427
336946,46754542,malanga,arline,0,2-00:00:00,00:00:00,0,2,1,pascal,0:0,PENDING,172800,0
336947,46754560,malanga,arline,0,2-00:00:00,00:00:00,0,2,1,pascal,0:0,PENDING,172800,0
336948,46754598,glasshouse,treva,145.24,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED,86400,86
336949,46754618,malanga,arline,0,2-00:00:00,00:00:00,0,2,1,pascal,0:0,PENDING,172800,0

In [6]:
gpu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336950 entries, 0 to 336949
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   JOBID         336950 non-null  object
 1   ACCOUNT       336950 non-null  object
 2   USER          336950 non-null  object
 3   USEDMEM       336950 non-null  object
 4   REQTIME       336950 non-null  object
 5   USEDTIME      336950 non-null  object
 6   NODES         336950 non-null  int64
 7   CPUS          336950 non-null  int64
 8   GPUS          336950 non-null  int64
 9   PARTITION     336950 non-null  object
 10  EXITCODE      336950 non-null  object
 11  STATE         336950 non-null  object
 12  REQTIME_SEC   336950 non-null  int64
 13  USEDTIME_SEC  336950 non-null  int64
dtypes: int64(5), object(9)
memory usage: 36.0+ MB

In [7]:
gpu_df = gpu_df.astype({"USEDMEM": float})

In [8]:
gpu_completed_df= gpu_df[gpu_df["STATE"] =="COMPLETED"]
gpu_completed_df

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE,REQTIME_SEC,USEDTIME_SEC
0,32880657,malanga,arline,18.66,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED,172800,793
1,32880701,glasshouse,brady,0.00,05:00:00,00:00:22,1,3,1,maxwell,0:0,COMPLETED,18000,22
2,32880718,glasshouse,brady,402.32,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED,18000,537
3,32880719,glasshouse,brady,417.62,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED,72000,18586
4,32880720,glasshouse,brady,450.09,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED,54000,15070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336933,46753813,harovin,shannon,137.96,5-00:00:00,00:00:52,1,1,1,turing,0:0,COMPLETED,432000,52
336934,46753820_26,harovin,porsha,5093.70,5-00:00:00,00:34:51,1,6,1,turing,0:0,COMPLETED,432000,2091
336936,46753823,harovin,shannon,156.21,5-00:00:00,00:04:03,1,1,1,turing,0:0,COMPLETED,432000,243
336942,46754095,harovin,shannon,2820.52,5-00:00:00,00:11:13,1,1,1,turing,0:0,COMPLETED,432000,673
336948,46754598,glasshouse,treva,145.24,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED,86400,86

In [26]:
gpu_completed_df.groupby(["PARTITION","USER"])["USEDTIME_SEC"].sum().sort_values(ascending=False).head(40)

PARTITION  USER
turing     porsha        259384410
pascal     collins       130063451
           jolette       127782292
           birdella      117846335
           nakisha        92077011
turing     collins        83845950
pascal     erick          77516734
maxwell    collins        57946049
           jolette        37805404
pascal     debera         36568389
turing     valentina      35745676
           margret        33539548
maxwell    erick          33462509
pascal     brady          31617685
turing     shannon        29442753
maxwell    suzanna        23266805
turing     treva          23091906
pascal     wilhelmina     21714747
           jonnie         19014641
maxwell    marnie         18187206
           davonta        16538661
turing     jonnie         14767696
pascal     nobie          13990308
           miya           12567458
maxwell    porsha         12459110
pascal     andra          12097439
           hjalmar        11400540
           hillery        11138664
           demarcus       10289218
           marnie          8840124
turing     era             8497695
           marnie          8289250
maxwell    era             7996488
pascal     treva           7233782
turing     anitra          7177125
pascal     arline          6949465
           earlean         6228498
           milford         6071298
           mel             5343969
           archie          5133491
Name: USEDTIME_SEC, dtype: int64

In [22]:
#gpu_completed_df.groupby(["ACCOUNT","USER","PARTITION"])["USEDTIME_SEC"].sum().sort_values(ascending=False).head(40)
gpu_completed_df.groupby(["PARTITION","ACCOUNT"])["USEDTIME_SEC"].sum().sort_values(ascending=False).head(40)


#4. What is the distribution of different groups and users accessing each partition? 
#In each partition, who are the top users, and do they represent a majority 
#of the runtime-weighted jobs on the partition?

PARTITION  ACCOUNT
pascal     glasshouse       577448282
turing     harovin          324989415
           glasshouse       191184029
maxwell    glasshouse       166155290
pascal     antares           95915871
           grisette          55927378
           virginia          35108658
turing     virginia          24839138
maxwell    clara             23266805
pascal     prince            21733671
           pecans            16617728
maxwell    orange            16538661
           plumcot           14818841
pascal     sunburst          10289218
           malanga            9030984
           kinnow             6349310
turing     almonds            2331633
maxwell    white              2048632
pascal     horseradish        1739520
turing     pinole             1334125
           apple              1116913
           cactus              849156
pascal     packham             763283
turing     bertanne            738923
           prince              609608
           pasilla             512830
pascal     pasilla             359257
turing     sugranineteen       261395
           antares             208804
maxwell    summer              172817
           bertanne            100019
pascal     rosemarie            15317
maxwell    pasilla              14348
turing     gem                   8060
pascal     bertanne              5786
turing     bunch                  754
Name: USEDTIME_SEC, dtype: int64

In [10]:
#Check completed jobs by Partition and GPUS
gpu_completed_df.groupby(["PARTITION","GPUS"])["USEDMEM"].sum()

#1. What is the distribution of per-GPU main memory usage over all runtime-weighed jobs in each partition? 
#Knowing this will help ACCRE to understand our users memory needs for future hardware purchases.

PARTITION  GPUS
maxwell    1       1.216627e+08
           2       4.527200e+06
           3       2.081270e+04
           4       4.607327e+06
           6       5.053232e+05
           8       3.238567e+05
           12      8.765281e+05
           16      2.053680e+05
           18      3.505690e+04
           24      3.554550e+03
           40      2.409000e+01
pascal     1       1.805068e+08
           2       1.795529e+07
           3       3.769252e+05
           4       1.096731e+07
           8       3.073291e+06
           12      8.875734e+04
           16      2.377205e+06
           24      4.386576e+05
           32      6.498074e+04
           60      9.940000e+00
turing     1       2.652419e+08
           2       8.365955e+06
           3       2.386715e+06
           4       8.712111e+06
           8       1.451311e+06
           12      9.600000e+00
           16      1.493039e+05
           20      0.000000e+00
           40      2.141000e+01
Name: USEDMEM, dtype: float64

In [11]:
gpu_completed_df.groupby(["PARTITION","REQTIME_SEC","USEDTIME_SEC"])["REQTIME_SEC"].sum()

PARTITION  REQTIME_SEC  USEDTIME_SEC
maxwell    60           5                   60
                        66                  60
           600          24                 600
           1200         1                 1200
                        2                 1200
                                         ...
turing     432000       432081          432000
                        432144          432000
                        432265          432000
                        432266          432000
           950400       93354           950400
Name: REQTIME_SEC, Length: 47325, dtype: int64

In [12]:
gpu_completed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283333 entries, 0 to 336948
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   JOBID         283333 non-null  object
 1   ACCOUNT       283333 non-null  object
 2   USER          283333 non-null  object
 3   USEDMEM       283333 non-null  float64
 4   REQTIME       283333 non-null  object
 5   USEDTIME      283333 non-null  object
 6   NODES         283333 non-null  int64
 7   CPUS          283333 non-null  int64
 8   GPUS          283333 non-null  int64
 9   PARTITION     283333 non-null  object
 10  EXITCODE      283333 non-null  object
 11  STATE         283333 non-null  object
 12  REQTIME_SEC   283333 non-null  int64
 13  USEDTIME_SEC  283333 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 32.4+ MB