In [12]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
ACCRE = pd.read_csv('accre-gpu-jobs-2022-v2.csv', error_bad_lines=False)

/var/folders/s3/9_r9v9px7_v0q69b5zcbnmsm0000gn/T/ipykernel_3044/1417506543.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ACCRE = pd.read_csv('accre-gpu-jobs-2022-v2.csv', error_bad_lines=False)
b'Skipping line 124084: expected 12 fields, saw 13\nSkipping line 124809: expected 12 fields, saw 13\n'

In [11]:
ACCRE.head()

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE
0,32880657,malanga,arline,18.66M,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED
1,32880701,glasshouse,brady,0,05:00:00,00:00:22,1,3,1,maxwell,0:0,COMPLETED
2,32880718,glasshouse,brady,402.32M,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED
3,32880719,glasshouse,brady,417.62M,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED
4,32880720,glasshouse,brady,450.09M,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED

In [13]:
ACCRE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336950 entries, 0 to 336949
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   JOBID      336950 non-null  object
 1   ACCOUNT    336950 non-null  object
 2   USER       336950 non-null  object
 3   USEDMEM    336950 non-null  object
 4   REQTIME    336950 non-null  object
 5   USEDTIME   336950 non-null  object
 6   NODES      336950 non-null  int64
 7   CPUS       336950 non-null  int64
 8   GPUS       336950 non-null  int64
 9   PARTITION  336950 non-null  object
 10  EXITCODE   336950 non-null  object
 11  STATE      336950 non-null  object
dtypes: int64(3), object(9)
memory usage: 30.8+ MB

In [14]:
ACCRE.shape

(336950, 12)

In [23]:
ACCRE['USEDMEM']=ACCRE['USEDMEM'].str.replace('M', '')
ACCRE['USEDMEM']=ACCRE['USEDMEM'].astype(float)

In [24]:
ACCRE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336950 entries, 0 to 336949
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   JOBID      336950 non-null  object
 1   ACCOUNT    336950 non-null  object
 2   USER       336950 non-null  object
 3   USEDMEM    336950 non-null  float64
 4   REQTIME    336950 non-null  object
 5   USEDTIME   336950 non-null  object
 6   NODES      336950 non-null  int64
 7   CPUS       336950 non-null  int64
 8   GPUS       336950 non-null  int64
 9   PARTITION  336950 non-null  object
 10  EXITCODE   336950 non-null  object
 11  STATE      336950 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 30.8+ MB

In [25]:
ACCRE['STATE'].unique()

array(['COMPLETED', 'CANCELLED by 9201', 'CANCELLED by 859023',
       'CANCELLED by 153500', 'CANCELLED by 168618',
       'CANCELLED by 888717', 'FAILED', 'CANCELLED by 859269',
       'CANCELLED by 756088', 'CANCELLED by 887337',
       'CANCELLED by 858683', 'CANCELLED', 'CANCELLED by 885613',
       'CANCELLED by 342288', 'CANCELLED by 855431',
       'CANCELLED by 491383', 'CANCELLED by 776393',
       'CANCELLED by 844796', 'CANCELLED by 780767',
       'CANCELLED by 505355', 'CANCELLED by 649321',
       'CANCELLED by 890189', 'CANCELLED by 59229', 'CANCELLED by 649319',
       'CANCELLED by 590520', 'CANCELLED by 478095',
       'CANCELLED by 196703', 'CANCELLED by 308082',
       'CANCELLED by 757496', 'CANCELLED by 454080',
       'CANCELLED by 512947', 'CANCELLED by 762866',
       'CANCELLED by 859465', 'CANCELLED by 161909',
       'CANCELLED by 785491', 'CANCELLED by 90423', 'CANCELLED by 159541',
       'CANCELLED by 859439', 'CANCELLED by 349259',
       'CANCELLED by 854809', 'CANCELLED by 788885',
       'CANCELLED by 352520', 'CANCELLED by 891959',
       'CANCELLED by 133418', 'CANCELLED by 899293',
       'CANCELLED by 793749', 'CANCELLED by 895279',
       'CANCELLED by 891353', 'CANCELLED by 877653',
       'CANCELLED by 891185', 'CANCELLED by 892663',
       'CANCELLED by 855879', 'CANCELLED by 889363',
       'CANCELLED by 174423', 'CANCELLED by 353986',
       'CANCELLED by 879523', 'CANCELLED by 856815',
       'CANCELLED by 765671', 'CANCELLED by 887851',
       'CANCELLED by 765335', 'CANCELLED by 889839',
       'CANCELLED by 891307', 'CANCELLED by 901239',
       'CANCELLED by 897787', 'CANCELLED by 654501',
       'CANCELLED by 895635', 'CANCELLED by 0', 'CANCELLED by 859303',
       'CANCELLED by 19853', 'CANCELLED by 46207', 'CANCELLED by 855349',
       'CANCELLED by 879907', 'CANCELLED by 787173',
       'CANCELLED by 885837', 'CANCELLED by 913169',
       'CANCELLED by 784871', 'CANCELLED by 891323',
       'CANCELLED by 171822', 'CANCELLED by 784793',
       'CANCELLED by 892269', 'CANCELLED by 888529',
       'CANCELLED by 856077', 'CANCELLED by 777651',
       'CANCELLED by 111694', 'CANCELLED by 766842', 'RUNNING',
       'CANCELLED by 154476', 'PENDING', 'CANCELLED by 890725',
       'CANCELLED by 786713', 'CANCELLED by 796815',
       'CANCELLED by 762584', 'CANCELLED by 646120',
       'CANCELLED by 778999', 'OUT_OF_MEMORY', 'CANCELLED by 767350',
       'CANCELLED by 910235', 'CANCELLED by 899035'], dtype=object)

In [28]:
ACCRE['EXITCODE'].unique()

array(['0:0', '127:0', '0:2', '1:0', '0:15', '0:9', '2:0', '0:6', '7:0',
       '126:0', '33:0', '13:0', '16:0', '0:125', '9:0', '0:7'],
      dtype=object)